*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*shared style starts*/
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
.btn{
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    height: 52px;

}
.btn:hover{
    cursor: pointer;
}

/*shared style ends*/

/*main section starts*/
    /*nav section starts*/  
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
    margin: 0 auto;
    max-width: 1600px;
    height: 92px;
    background-color: #FFFFFF;
    
}
nav .nav-logo{
    max-width: 139px;
    height: 60px;
}
nav .nav-links ul{
    display: flex;
    gap: 32px;
}
.nav-links ul li{
    list-style-type: none;
}
.nav-links ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 152%;
}
/* nav .nav-button button{
    max-width: 164px;
    height: 44px;
    
} */
    /*nav section ends*/
    /*hero-banner section stars*/
#hero-container{
    max-width: 1600px;
    height: 674px;
    margin: 0 auto;
    background-image: url('../assests/hero-bg.png');
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
#hero-container{
    padding: 115.5px 120px 179.5px;
    text-align: center;
}
.banner-content .early-access{
    max-width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.banner-content .early-access p{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}
.banner-content .early-access p i{
    color: #469165;
}
.banner-content .hero-title h2{
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    margin: 16px 0;
}
.banner-content .hero-title .title1{
    color: #FFFFFF;
}
.banner-content .hero-title .title2{
    color: #30B868;
}
.banner-content .hero-description{
    max-width: 1360px;
    height: 60px;
    margin: 32px;
    
}
.banner-content .hero-description p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.banner-content .hero-btn .btn2{
    font-size: 16px;
    font-weight: 600;
    background-color:transparent;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 4px;
    padding: 16.5px 16px;
    height: 52px;
    margin-left: 16px;
}
.hero-btn .btn2:hover{
    cursor: pointer;
}
    /*hero-banner section ends*/
/*main section ends*/