*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*shared style starts*/
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
.btn{
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    height: 52px;

}
.btn:hover{
    cursor: pointer;
}

/*shared style ends*/

/*main section starts*/
    /*nav section starts*/  
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
    margin: 0 auto;
    max-width: 1600px;
    height: 92px;
    background-color: #FFFFFF;
    
}
nav .nav-logo{
    max-width: 139px;
    height: 60px;
}
nav .nav-links ul{
    display: flex;
    gap: 32px;
}
.nav-links ul li{
    list-style-type: none;
}
.nav-links ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 152%;
}
/* nav .nav-button button{
    max-width: 164px;
    height: 44px;
    
} */
    /*nav section ends*/

    /*hero-banner section stars*/
#hero-container{
    max-width: 1600px;
    height: 674px;
    margin: 0 auto;
    padding: 115.5px 120px 179.5px;
    text-align: center;
    background-image: url('../assests/hero-bg.png');
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
.banner-content .early-access{
    max-width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.banner-content .early-access p{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}
.banner-content .early-access p i{
    color: #469165;
}
.banner-content .hero-title h2{
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    margin: 16px 0;
}
.banner-content .hero-title .title1{
    color: #FFFFFF;
}
.banner-content .hero-title .title2{
    color: #30B868;
}
.banner-content .hero-description{
    max-width: 1360px;
    height: 60px;
    margin: 32px;
    
}
.banner-content .hero-description p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.banner-content .hero-btn .btn2{
    font-size: 16px;
    font-weight: 600;
    background-color:transparent;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 4px;
    padding: 16.5px 16px;
    height: 52px;
    margin-left: 16px;
}
.hero-btn .btn2:hover{
    cursor: pointer;
}
    /*hero-banner section ends*/

/*main section starts*/
    /*note section starts here*/
#note-container{
    padding-top: 80px;
    max-width: 1600px;
    height: 448px;
    margin: 0 auto;    
}
#note-container .note-header{
    margin: 0 auto;
    text-align: center;
    max-width: 1360px;
    height: 152px;

}
#note-container .note-header h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #001931;
}
#note-container .note-header p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}
.card-container{
    margin: 0 auto;

    max-width: 1360px;
    height: 300px;
    display: flex;
    gap: 24px;
    
}
.card-info{
    border-radius: 8px;
    max-width: 322px;
    max-height: 300px;
    padding-top: 69.5px;
    box-shadow: 0 0 8px #62738265;
    background-color: #FFFFFF;
}
.card-info .card-image{
    margin: 0 auto;
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-info .card-content h3{
    text-align: center;
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin:16px 24px 16px 24px;
}
.card-info .card-content p{
    margin: 0 24px 69.5px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
}
    /*note section ends here*/
    
    /*Solution section ends here*/
#solution-container{
    
    max-width: 1600px;
    height: 840px;
    margin: 0 auto;
    padding: 160px 120px 120px 120px;
}
#solution-container .solution-content{
    display: flex;
    gap: 60px;
}
.solution-content .solution-image img{
    max-width: 600px;
    height: 600px;
    border-radius: 12px;
}
.solution-text{
    max-width: 700px;
}
.solution-text .description{
    margin-bottom: 40px;
}
.solution-text h5{
    color: #469165;
    font-size: 16px;
    line-height: 20px;
}
.solution-text h3{
    color: #001931;
    font-size: 48px;
    margin: 16px 0;
}
.solution-text p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
.solution-text .solutions ul li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;
    
    display: flex;
    gap: 6px;
    align-items: center;
}
.solutions li span img{
    width: 20px;
    height: 20px;
}

/*main section ends*/